<nav class="navbar">
  <a href="/"
    ><img class="logo" src="assets/Images/logo.jpg" alt="BookMyShow Logo"
  /></a>
  <input class="Search-bar" type="text" placeholder="Search for the movie " />

  <a *ngIf="!user.email" routerLink="/login"
    ><button class="CustomButton default">Login</button></a
  >

  <a *ngIf="!user.email" routerLink="/SignUp"
    ><button class="CustomButton default">Register</button></a
  >
  <a *ngIf="user.email" routerLink="/profile"
    ><button class="CustomButton default">Profile</button></a
  >

  <button *ngIf="user.email" class="CustomButton default">logout</button>
  <a *ngIf="user.userType === 'Admin'" routerLink="/Admin"
    ><button class="CustomButton default">Admin</button></a
  >
</nav>
