<div class="signup-screen">
  <form class="signup-card" (ngSubmit)="changePassword()">
    <h2>Change Password</h2>

    <input
      class="InputField"
      placeholder="Email"
      type="email"
      [(ngModel)]="email"
      name="email"
      required
    />

    <select
      class="InputField"
      name="securityQuestion"
      [(ngModel)]="securityQuestion"
    >
      <option value="">Select Security Question</option>
      <option value="In what city were you born ?">
        In what city were you born
      </option>
      <option value="What high school did you attend ?">
        What high school did you attend
      </option>
      <option value="What is your Favorite Color ?">
        What is your Favorite Color
      </option>
    </select>

    <input
      class="InputField"
      type="text"
      name="securityAnswer"
      placeholder="Security Answer"
      [(ngModel)]="securityAnswer"
    />

    <input
      class="InputField"
      placeholder="New Password"
      type="password"
      [(ngModel)]="password"
      name="password"
      required
    />
    <button class="custom-button" type="submit">Register</button>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <p>{{ result }}</p>
  </form>
</div>
